[Desktop Entry]
Name=teo-self-presentation yarpmanager
Type=Application
MimeType=application/vnd.ms-htmlhelp;
Exec=yarpmanager
NoDisplay=true
StartupNotify=true
Icon=/home/teo/repos/teo-self-presentation/doc/fig/presentation_robot.png
Path=/home/teo/repos/teo-self-presentation/share
